<section class="about-page">
  <div class="container">
    <h1 class="page-title text-center my-5">About Our Coffee Shop</h1>
    
    <div class="row">
      <div class="col-md-10 mx-auto">
        <p>Our coffee shop was founded with a passion for providing the finest coffee experience in the city. We carefully source our beans from sustainable farms around the world and roast them in-house to ensure the freshest flavor.</p>
        <p>Our skilled baristas are trained in the art of coffee making, from perfect espresso shots to intricate latte art. We also offer a selection of house-made pastries and desserts to complement your coffee.</p>
      </div>
    </div>
  </div>
</section>