<section class="about-page">
  <div class="container">
    <div *ngIf="loading" class="text-center my-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    
    <div *ngIf="error" class="alert alert-danger my-5" role="alert">
      Unable to load content. Please try again later.
    </div>
    
    <div *ngIf="!loading && !error">
      <h1 class="page-title text-center my-5">{{ aboutContent.title }}</h1>
      
      <div class="row">
        <div class="col-md-10 mx-auto">
          <p *ngFor="let paragraph of aboutContent.paragraphs">{{ paragraph }}</p>
        </div>
      </div>
    </div>
  </div>
</section>